@import 'c/cms_cssUtility';
.removeborder {
    border: 0px;
}
.displayInline{
    display: inline-grid;
}
.consentMessage{
    color: red;
}
.displayerror{
    display: block;
}
.hideerror{
    display: none;
}