.allign_label1{
    position: relative;
    top: 12px;
    right: 46px;
}
.allign_label5{
    position: absolute;
    top: 12px;
    right: -13px;
}
.allign_label2{
    position: relative;
    top: 12px;
    right: 32px;
}
.allign_label3{
    position: relative;
    top: 12px;
    right: 39px;
}
.allign_label4{
    position: relative;
    top: 12px;
    right: 29px;
}